*{
	box-sizing: border-box;
	font-size: 110%;
}
body{
	background: #008B8B;
}
.p1{
	border: 1px solid black;
	padding: 60px 10px 10px 10px;
	position: relative;
	float: left;
	text-align: left;
	background: #F5DEB3;
}
.p2{
	border: 1px solid black;
	position: absolute;
	top:30px;
	right: 0;
	background: red;
	padding: 10px;
}
.p{
	position: relative;
	background: red;
	text-align: right;
	padding-right: 10px;
}
#h1{
	font-size: 200%;
    font-family: Georgia , serif; 
	text-align: center;
	color: black;
	padding: 10px 25% 10px 25%;

	width:center ;
	background: white;
}
@media(min-width :992px){
	.col-lg-4 {
		position: relative;
		width: 32%;
		float: left;
		margin-left: 1%;
	}
}
@media(min-width :768px) and (max-width: 991px)
{
	.p2{
		right:2%;
	}
	.col-md-6{

		position: relative;
		width: 50%;
		float:left;
		padding-right: 1%;
	}
	.col-md-12{
		position: relative;
		width: 100%;
		float:left;
		padding-right: 2%;
	}
}
@media(max-width :767px){

	.col-sm-12{
		position: relative;
		width: 100%;
		float:left;
		padding-right: ;
	}
}